.notFound{
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
      background-color: #606062;
    }

.notFound h1{
color: #B6B6B6;
font-size: 7rem;
margin-top: 7vh;
}

.notFound--contentImg img{
    width: 100%;
}

.notFound--contentImg{
    width: 30vw;
    margin-top: 10vh;
}
