:root {
    --grey: #606062;
    --dark-grey: #4A4A4A;
    --textSecondary-base: #FFCDAF;
    --orange: #F47D35;
    --textSecondary-white: #FFFFFF;
    --slowPink: #F7F3F0;
    --title: #666666
}

.content-gray {
    background-color: var(--grey);
    height: 50vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content--welcome {
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-left: 24vw;
}

.content--welcome h2 {
    color: var(--textSecondary-white);
    font-size: 4rem;
    font-weight: bolder;
    line-height: 5.5vh;
}

.content--welcome p {
    margin-top: 3vh;
    width: 22vw;
    color: var(--textSecondary-base);
    font-size: 1.8rem;
    align-self: flex-start;
    line-height: 4vh;
    font-weight: lighter;
}

