:root {
    --textSecondary-base: #FFCDAF;
    --blue: #35BBF4;
    --orange: #F47D35;
    --textSecondary-white: #FFFFFF;
    --slowPink: #F7F3F0;
    --title: #666666;
    --backgroundInput: #FAFAFC;
    --complements: #B6B6B6;
}

.register-Form {
    background-color: rgb(255, 255, 255);
    padding: 8vh;
    border-radius: 1.5vh;
    display: flex;
    flex-direction: column;
    width: 50vw;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 20vw;
    left: calc(50% - 25vw);
}

.register-Form h2 {
    font-size: 2.6rem;
    font-weight: bolder;
    color: var(--title);
    border-bottom: 0.1vh solid var(--complements);
    font-family: 'Archivo', sans-serif;
    padding: 3vh 0;
}

.finalForm {
    display: flex;
    justify-content: space-between;
    padding: 5vh 0 0 0;
    width: 42vw;
    align-items: center;
}

.form-btn {
    background-color: var(--orange);
    color: var(--textSecondary-white);
    padding: 3vh;
    border: none;
    border-radius: 1vh;
    font-size: 1.8rem;
    width: 15vw;
}

.warningText {
    color: #A0A0B2;
    background-image: url('../images/icons/warning.svg');
    padding: 3vh 0 3vh 8vh;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 3vw;
    font-size: 1.4rem;
    line-height: 3vh;
}

.register-Form label {
    display: flex;
    flex-direction: column;
}

.register-Form--labelNormal input,
.register-Form label textarea,
.register-Form label select,
.register-Form--labelSchedule-day input {
    background-color: var(--backgroundInput);
    border-radius: 1vh;
    color: var(--complements);
    padding: 2vh;
    font-size: 1.7rem;
    border: solid #F0EBE6;
}

.register-Form--labelNormal input:focus,
.register-Form label textarea:focus,
.register-Form label select:focus,
.register-Form--labelSchedule-day input:focus {
    color: var(--orange);
    border-bottom: 0.5vh solid #606062;
    outline: none;
}


.register-Form span {
    font-family: 'Poppins', sans-serif;
    color: var(--complements);
    font-size: 1.5rem;
    padding: 2vh 0;
}

#biography {
    height: 20vh;
}

.schedule {
    
    display: flex;
    justify-content: space-between;
}
.schedule h2{
    margin-top: 7vh;
}

.schedulea-btn, .schedulea-btn-delete {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.placeholder {
    color: var(--complements);
}

.content--schedule {
    display: flex;
}

.register-Form--labelSchedule {
    width: 80vw;
}

.register-Form--labelSchedule-day {
    text-align: center;
    width: 7vw;
    margin: 0 0 0 2vh;
}
.schedulea-btn-delete{
    color:var(--orange);
  
}
.content--schedulea-btn-delete{
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5vh;
}
.schedulea-btn{
    position: absolute;
    right: 12vh;
    top: 129vh;
}