:root {
    --textSecondary-base: #FFCDAF;
    --orange: #F47D35;
    --textSecondary-white: #FFFFFF;
    --slowPink: #F7F3F0;
    --title: #666666;
    --backgroundInput: #FAFAFC;
    --complements: #B6B6B6;
    --grey: #606062;
}

.study-main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcomeStudents {
    background-color: var(--grey);
    height: 300px;
    padding-left: 10%;
    color: var(--textSecondary-white);
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding-top: 30px;
}

.menu-filtering {
    position: absolute;
    top: 300px;
    top: calc(19% - 200px / 2);
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    height: 200px;
}

.menu-filtering span {
    font-size: 2.5rem;
    color: var(--textSecondary-base);
    padding: 1.2vh 0;
}

.menu-filtering label {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.menu-filtering--select {
    padding: 1.6vh;
    border: none;
    border-radius: 1vh;
    color: var(--complements);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 3rem;
    background-color: #FAFAFC;
}

@media only screen and (max-width: 600px) {
    .menu-filtering--select {
        background-color: #F47D35;
    }
}